---

---

<div id="additionalContact">
  <div class="contactSVGWrapper">
    <div class="svgWrapper">
      <svg
        width="20"
        height="25"
        viewBox="0 0 20 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 9.65356C1 15.7183 6.30559 20.7337 8.65399 22.6565C8.99008 22.9317 9.16014 23.0709 9.41088 23.1415C9.60613 23.1965 9.8935 23.1965 10.0887 23.1415C10.34 23.0708 10.5088 22.9329 10.8462 22.6567C13.1946 20.7338 18.4999 15.7189 18.4999 9.65412C18.4999 7.35898 17.5781 5.15756 15.9371 3.53465C14.2962 1.91174 12.0707 1 9.7501 1C7.42946 1 5.20376 1.91188 3.56282 3.53479C1.92187 5.1577 1 7.35842 1 9.65356Z"
          stroke="#FFBF00"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M7.25 8.5C7.25 9.88071 8.36929 11 9.75 11C11.1307 11 12.25 9.88071 12.25 8.5C12.25 7.11929 11.1307 6 9.75 6C8.36929 6 7.25 7.11929 7.25 8.5Z"
          stroke="#FFBF00"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
    <div>
      <h5>Adres</h5>
      <span>00-231, ul.Słowackiego 10, Warszawa</span>
    </div>
  </div>
  <div class="contactSVGWrapper">
    <div class="svgWrapper">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.12808 2.57152C8.74842 1.62238 7.82915 1 6.80688 1H3.36842C2.06038 1 1 2.06012 1 3.36816C1 14.4865 10.0135 23.5 21.1318 23.5C22.4399 23.5 23.5 22.4395 23.5 21.1315L23.5006 17.6924C23.5006 16.6702 22.8784 15.7511 21.9292 15.3714L18.6337 14.0537C17.7811 13.7126 16.8104 13.8661 16.1049 14.454L15.2544 15.1633C14.2611 15.9911 12.7995 15.9253 11.8852 15.011L9.49028 12.6138C8.57598 11.6995 8.50842 10.2392 9.33618 9.24585L10.0454 8.39537C10.6333 7.68994 10.7881 6.71895 10.4471 5.86636L9.12808 2.57152Z"
          stroke="#FFBF00"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>

    <div>
      <h5>Telefon</h5>
      <span>+48 123 123 123 </span>
    </div>
  </div>
  <div class="contactSVGWrapper">
    <div class="svgWrapper">
      <svg
        width="25"
        height="20"
        viewBox="0 0 25 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.25 2.25L9.88455 8.01533L9.88709 8.01744C10.7348 8.63911 11.1589 8.95012 11.6234 9.07027C12.034 9.17647 12.4656 9.17647 12.8762 9.07027C13.3412 8.95001 13.7665 8.63809 14.6157 8.01533C14.6157 8.01533 19.5126 4.25742 22.25 2.25M1 14.5002V5.00024C1 3.60011 1 2.89953 1.27248 2.36475C1.51217 1.89434 1.89434 1.51217 2.36475 1.27248C2.89953 1 3.60011 1 5.00024 1H19.5002C20.9004 1 21.5995 1 22.1342 1.27248C22.6047 1.51217 22.9881 1.89434 23.2278 2.36475C23.5 2.899 23.5 3.59874 23.5 4.99614V14.5045C23.5 15.9019 23.5 16.6006 23.2278 17.1349C22.9881 17.6053 22.6047 17.9881 22.1342 18.2278C21.6 18.5 20.9013 18.5 19.5039 18.5H4.99614C3.59874 18.5 2.899 18.5 2.36475 18.2278C1.89434 17.9881 1.51217 17.6053 1.27248 17.1349C1 16.6001 1 15.9004 1 14.5002Z"
          stroke="#FFBF00"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>

    <div>
      <h5>Adres email</h5>
      <span>elektryk24@elektryk.pl</span>
    </div>
  </div>
  <div class="contactSVGWrapper">
    <h5>Śledź nas:</h5>
    <div id="followUsWrapIcon">
      <div class="svgWrapper">
        <svg
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="34" height="34" rx="17" stroke="#FFBF00"
          ></rect>
          <path
            d="M21.437 18.5687L21.9166 15.4734H18.9626V13.4615C18.9626 12.6151 19.375 11.7881 20.6937 11.7881H22.0556V9.1523C21.2625 9.02382 20.4611 8.95431 19.6579 8.94434C17.2267 8.94434 15.6394 10.4291 15.6394 13.1133V15.4734H12.9443V18.5687H15.6394V26.0554H18.9626V18.5687H21.437Z"
            fill="#FFCD29"></path>
        </svg>
      </div>
      <div class="svgWrapper">
        <svg
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="34" height="34" rx="17" stroke="#FFBF00"
          ></rect>
          <path
            d="M23.5059 26.1705C24.736 25.6952 25.7084 24.7228 26.1837 23.4927C26.4087 22.91 26.5662 22.2452 26.6089 21.2728C26.619 21.045 26.6269 20.8537 26.6342 20.662V14.1647C26.6292 14.0291 26.6235 13.8879 26.6162 13.7293C26.5735 12.7569 26.416 12.0887 26.191 11.5094C25.9587 10.8946 25.601 10.344 25.1331 9.88675C24.6752 9.42162 24.1212 9.06053 23.5132 8.83218C22.9306 8.60721 22.2658 8.44972 21.2933 8.40698C20.3135 8.3603 20.0025 8.34961 17.5182 8.34961C15.0339 8.34961 14.7223 8.3603 13.7465 8.40304C12.774 8.44579 12.1059 8.60327 11.5266 8.82825C10.9118 9.06053 10.3612 9.41824 9.90335 9.88675C9.43878 10.3446 9.07769 10.8986 8.84878 11.506C8.62381 12.0887 8.46632 12.7535 8.42358 13.726C8.3769 14.7057 8.36621 15.0168 8.36621 17.5016C8.36621 19.9865 8.3769 20.2975 8.41964 21.2733C8.46239 22.2458 8.61987 22.9145 8.84541 23.4933C9.0777 24.108 9.43878 24.6586 9.90335 25.1165C10.3612 25.581 10.9152 25.9427 11.5232 26.171C12.1059 26.396 12.7707 26.5535 13.7431 26.5962C14.719 26.6395 15.03 26.6502 17.5148 26.6502C19.9997 26.6502 20.3102 26.6395 21.2865 26.5962C22.259 26.5535 22.9266 26.3954 23.5059 26.1705ZM17.5216 25.0051C15.0795 25.0051 14.7864 24.9944 13.8247 24.9517C12.931 24.9123 12.4484 24.7621 12.1267 24.6373C11.7302 24.4905 11.3691 24.2582 11.0755 23.9545C10.7718 23.6575 10.5389 23.3003 10.3927 22.9033C10.2678 22.5816 10.1176 22.095 10.0783 21.2053C10.0355 20.2401 10.0248 19.9505 10.0248 17.5084C10.0248 15.0663 10.0355 14.7732 10.0783 13.812C10.1176 12.9183 10.2678 12.4357 10.3927 12.114C10.5395 11.7169 10.7718 11.3558 11.0794 11.0628C11.3758 10.7591 11.7335 10.5268 12.13 10.38C12.4518 10.2552 12.9383 10.105 13.8281 10.0656C14.7932 10.0229 15.0829 10.0122 17.5244 10.0122C19.9659 10.0122 20.2595 10.0229 21.2213 10.0656C22.115 10.105 22.5976 10.2552 22.9193 10.38C23.3158 10.5268 23.6769 10.7591 23.9699 11.0628C24.2737 11.3598 24.5065 11.7169 24.6527 12.114C24.7776 12.4357 24.9278 12.9217 24.9671 13.812C25.0099 14.7772 25.0206 15.0668 25.0206 17.5084C25.0206 19.9499 25.0099 20.2362 24.9671 21.2013C24.9278 22.095 24.7776 22.5776 24.6527 22.8993C24.3451 23.6969 23.7123 24.3296 22.9154 24.6367C22.5937 24.7616 22.1077 24.9117 21.2174 24.9511C20.2522 24.9939 19.9631 25.0051 17.5216 25.0051Z"
            fill="#FFCD29"></path>
          <path
            d="M17.5184 12.7997C14.9227 12.7997 12.817 14.9054 12.817 17.5011C12.817 20.0967 14.9227 22.2025 17.5184 22.2025C20.1141 22.2025 22.2193 20.0967 22.2193 17.5011C22.2193 14.9054 20.1135 12.7997 17.5184 12.7997ZM17.5184 20.5501C15.8345 20.5501 14.4689 19.1845 14.4689 17.5005C14.4689 15.8166 15.8345 14.451 17.5184 14.451C19.2023 14.451 20.5679 15.8166 20.5679 17.5005C20.5679 19.1845 19.2023 20.5501 17.5184 20.5501Z"
            fill="#FFCD29"></path>
          <path
            d="M23.5015 12.6138C23.5015 12.0075 23.01 11.5165 22.4037 11.5165C21.7974 11.5165 21.3063 12.008 21.3063 12.6138C21.3063 13.2195 21.7979 13.7111 22.4037 13.7111C23.0094 13.7111 23.5015 13.2201 23.5015 12.6138Z"
            fill="#FFCD29"></path>
        </svg>
      </div>
      <div class="svgWrapper">
        <svg
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="34" height="34" rx="17" stroke="#FFBF00"
          ></rect>
          <g clip-path="url(#clip0_153_3299)">
            <path
              d="M18.9269 16.3522L24.5072 10H23.1853L18.3379 15.5144L14.4691 10H10.0059L15.8575 18.3395L10.0059 24.9999H11.3278L16.4435 19.1753L20.5301 24.9999H24.9933M11.8049 10.9762H13.8357L23.1843 24.0717H21.153"
              fill="#FFCD29"></path>
          </g>
          <defs>
            <clipPath id="clip0_153_3299">
              <rect
                width="14.9875"
                height="15"
                fill="white"
                transform="translate(10.0059 10)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="svgWrapper">
        <svg
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="34" height="34" rx="17" stroke="#FFBF00"
          ></rect>
          <path
            d="M13.4323 24.6276V15.009H10.2381V24.6276H13.4323ZM11.8359 13.696C12.9495 13.696 13.6429 12.9574 13.6429 12.0344C13.622 11.0903 12.9495 10.3723 11.857 10.3723C10.7638 10.3723 10.0498 11.0903 10.0498 12.0343C10.0498 12.9573 10.7429 13.6959 11.8149 13.6959L11.8359 13.696ZM15.2004 24.6276H18.3943V19.2567C18.3943 18.9696 18.4152 18.6818 18.4996 18.4767C18.7304 17.9021 19.2559 17.3073 20.1385 17.3073C21.2941 17.3073 21.7566 18.1893 21.7566 19.4825V24.6276H24.9505V19.1126C24.9505 16.1583 23.3749 14.7835 21.2734 14.7835C19.5504 14.7835 18.7937 15.7474 18.3733 16.4038H18.3946V15.0093H15.2005C15.2422 15.9117 15.2004 24.6276 15.2004 24.6276Z"
            fill="#FFCD29"></path>
        </svg>
      </div>
    </div>
  </div>
</div>

<style>
  #additionalContact {
    width: 100%;
    max-width: 35rem;

    height: auto;

    background-color: var(--backgroundColorDarkLight);
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 2rem;
  }
  .contactSVGWrapper {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .contactSVGWrapper:last-of-type h5 {
    white-space: nowrap;
  }

  .svgWrapper {
    min-width: 1.75rem;
    min-height: 1.75rem;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
  #followUsWrapIcon {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
