---

---

<div id="wrapper">
  <h1>STARA <span>INSTALACJA</span> <br /> SPRAWIA PROBLEMY?</h1>
  <h5>Zadzwoń juz teraz, by ją wymienić.</h5>
  <button>Zadzwoń teraz</button>
  <div id="phoneNumber"><h5>887 075 912</h5></div>
</div>

<style>
  #wrapper {
    width: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    text-align: center;

    span {
      font-size: inherit !important;
      font-weight: inherit !important;
      color: var(--accentColor);
    }
  }
  h5 {
    margin-top: 1rem;
  }

  button {
    border-radius: 15px;
    width: auto;
    height: auto;

    padding: 1.5rem;
    margin-top: 3rem;

    border: none;
    background-color: var(--accentColor);

    font-size: 32px;
    font-weight: 700;
    color: var(--fontColorDark) !important;

    cursor: pointer;
  }

  #phoneNumber {
    padding: 1rem;
    border-radius: 15px;
    border: 3px solid var(--fontColorLight);
    margin-top: 1rem;
    h5 {
      margin-top: 0;
    }
  }
</style>
