---
import instalacjeElektryczne from "../../assets/instalacjeElektryczne.png";
---

<div>
  <Image src={instalacjeElektryczne} alt="instalacjeElektryczne">
    <div>
      <h3>Instalacje Elektryczne</h3>
      <p>
        Specjalizujemy się w kompleksowym wykonawstwie nowych instalacji
        elektrycznych w domach, mieszkaniach i lokalach usługowych. Zajmujemy
        się wszystkim od A do Z – od etapu projektowania i doradztwa, przez
        kucie bruzd i układanie przewodów, aż po montaż gniazdek, włączników i
        głównej rozdzielni. Gwarantujemy, że każda instalacja jest wykonana
        solidnie, bezpiecznie i zgodnie z najnowszymi normami budowlanymi.
      </p>
      <button> Dowiedz się więcej </button>
    </div>
  </Image>
</div>
