---
import Image from "astro/components/Image.astro";
import AboutMeImage from "../../assets/aboutMe.png";

const imageParagraph: string =
  "Odkąd pamiętam, fascynowała mnie elektryka. Po latach pracy w dużej firmie instalacyjnej, postanowiłem pójść na swoje. Zauważyłem, że na rynku brakuje usług, które łączyłyby wysoką jakość z prawdziwie indywidualnym podejściem do klienta. Dlatego w 2010 roku, z niewielkim kapitałem, ale ogromną determinacją, założyłem własną firmę. Postawiłem wszystko na jedną kartę: rzetelność, nowoczesne rozwiązania i budowanie zaufania.Początki były trudne. Sam wykonywałem większość zleceń, krok po kroku budując reputację solidnego fachowca. Dzięki ciężkiej pracy i licznym poleceniom, moja firma zaczęła się rozrastać. Dziś prowadzimy prężnie działający biznes, realizując zarówno drobne zlecenia w domach, jak i duże, kompleksowe instalacje, ale jedno się nie zmieniło: wciąż jestem wierny wartościom, które przyświecały mi na starcie.";
---

<section>
  <div class="header">
    <h2>O mnie</h2>
    <span>Historia naszej firmy elektrycznej</span>
  </div>
  <div id="AboutMeWrap">
    <div>
      <Image
        src={AboutMeImage}
        priority
        alt="Zdjęcie właściciela firmy, elektryka."
      />
    </div>
    <p>
      {imageParagraph}
    </p>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: auto;
  }

  #AboutMeWrap {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 2rem;
  }
  #AboutMeWrap p,
  #AboutMeWrap div {
    width: 100%;
    max-width: 35rem;
  }

  #AboutMeWrap div img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: top;
  }

  @media screen and (max-width: 1023px) {
    #AboutMeWrap {
      flex-wrap: wrap;
    }
    #AboutMeWrap div {
      flex-shrink: 1;
    }
  }
</style>
