---
import Image from "astro/components/Image.astro";
import zespolElektrykow from "../../assets/zespółElektryków.png";
---

<section>
  <div class="header">
    <h2>O naszej firmie</h2>
    <span>Informacje o nas i firmie</span>
  </div>
  <div id="aboutCompanyWrapper">
    <div class="aboutCompanyWrapperInside">
      <div class="flexWrapAboutCompany">
        <div class="svgWrapInAbout">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 0C18.1217 0 20.1566 0.842854 21.6569 2.34315C23.1571 3.84344 24 5.87827 24 8C24 10.1217 23.1571 12.1566 21.6569 13.6569C20.1566 15.1571 18.1217 16 16 16C13.8783 16 11.8434 15.1571 10.3431 13.6569C8.84285 12.1566 8 10.1217 8 8C8 5.87827 8.84285 3.84344 10.3431 2.34315C11.8434 0.842854 13.8783 0 16 0ZM16 20C24.84 20 32 23.58 32 28V32H0V28C0 23.58 7.16 20 16 20Z"
              fill="#FFBF00"></path>
          </svg>
        </div>
        <div>
          <h5>Pasja poparta Doświadczeniem</h5>
          <p>
            "Jesteśmy elektrykami z zamiłowania, a nasza praca to nie tylko
            zawód, ale przede wszystkim pasja. Wieloletnie doświadczenie w
            branży oraz posiadane uprawnienia SEP (G1) to solidny fundament, na
            którym zbudowaliśmy tą firmę."
          </p>
        </div>
      </div>
      <div class="flexWrapAboutCompany">
        <div class="svgWrapInAbout">
          <svg
            width="32"
            height="40"
            viewBox="0 0 32 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 40C11.3667 38.8333 7.54133 36.1747 4.524 32.024C1.50667 27.8733 -0.00133245 23.2653 8.83392e-07 18.2V6L16 0L32 6V18.2C32 23.2667 30.492 27.8753 27.476 32.026C24.46 36.1767 20.6347 38.8347 16 40Z"
              fill="#FFCD29"></path>
          </svg>
        </div>
        <div>
          <h5>Bezpieczeństwo jako Priorytet</h5>
          <p>
            Bezpieczeństwo jako Priorytet "Nie uznaję kompromisów, jeśli chodzi
            o bezpieczeństwo. Wierzę, że precyzyjnie wykonana instalacja to
            spokój na lata, dlatego pracuję wyłącznie na sprawdzonych
            materiałach i zgodnie z najwyższymi normami."
          </p>
        </div>
      </div>
      <div class="flexWrapAboutCompany">
        <div class="svgWrapInAbout">
          <svg
            width="40"
            height="36"
            viewBox="0 0 40 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.2 36C19.6333 36 19.1587 35.808 18.776 35.424C18.3933 35.04 18.2013 34.5653 18.2 34C18.2 33.7667 18.25 33.5247 18.35 33.274C18.45 33.0233 18.6 32.7987 18.8 32.6L28.05 23.35L26.6 21.9L17.4 31.15C17.2 31.35 16.9833 31.5 16.75 31.6C16.5167 31.7 16.2667 31.75 16 31.75C15.4333 31.75 14.9587 31.5587 14.576 31.176C14.1933 30.7933 14.0013 30.318 14 29.75C14 29.4167 14.05 29.1413 14.15 28.924C14.25 28.7067 14.3833 28.5153 14.55 28.35L23.8 19.1L22.4 17.7L13.15 26.9C12.95 27.1 12.7333 27.25 12.5 27.35C12.2667 27.45 12 27.5 11.7 27.5C11.1667 27.5 10.7 27.3 10.3 26.9C9.9 26.5 9.7 26.0333 9.7 25.5C9.7 25.2333 9.75 24.9833 9.85 24.75C9.95 24.5167 10.1 24.3 10.3 24.1L19.55 14.85L18.1 13.45L8.9 22.7C8.73333 22.8667 8.53333 23 8.3 23.1C8.06667 23.2 7.78333 23.25 7.45 23.25C6.88333 23.25 6.408 23.058 6.024 22.674C5.64 22.29 5.44867 21.8153 5.45 21.25C5.45 20.9833 5.5 20.7333 5.6 20.5C5.7 20.2667 5.85 20.05 6.05 19.85L17.2 8.70001L24.7 16.25C25.0667 16.6167 25.5 16.9087 26 17.126C26.5 17.3433 27 17.4513 27.5 17.45C28.5667 17.45 29.5 17.0753 30.3 16.326C31.1 15.5767 31.5 14.618 31.5 13.45C31.5 12.9833 31.4167 12.5 31.25 12C31.0833 11.5 30.7833 11.0333 30.35 10.6L21.4 1.65001C21.9667 1.11668 22.6 0.708675 23.3 0.426008C24 0.143342 24.7 0.0013417 25.4 8.3682e-06C26.2667 8.3682e-06 27.0667 0.142008 27.8 0.426008C28.5333 0.710009 29.2 1.15134 29.8 1.75001L38.25 10.25C38.85 10.85 39.292 11.5167 39.576 12.25C39.86 12.9833 40.0013 13.8333 40 14.8C40 15.4667 39.85 16.142 39.55 16.826C39.25 17.51 38.8167 18.1347 38.25 18.7L21.6 35.4C21.3333 35.6667 21.1 35.8333 20.9 35.9C20.7 35.9667 20.4667 36 20.2 36ZM3.05 20L1.75 18.7C1.18333 18.1667 0.75 17.5333 0.45 16.8C0.15 16.0667 0 15.3 0 14.5C0 13.6333 0.166667 12.8333 0.5 12.1C0.833333 11.3667 1.25 10.75 1.75 10.25L10.2 1.75001C10.7333 1.21668 11.3667 0.791342 12.1 0.474008C12.8333 0.156675 13.55 -0.00132497 14.25 8.3682e-06C15.15 8.3682e-06 15.95 0.125342 16.65 0.376008C17.35 0.626675 18.0333 1.08468 18.7 1.75001L28.95 12C29.15 12.2 29.3 12.4167 29.4 12.65C29.5 12.8833 29.55 13.1333 29.55 13.4C29.55 13.9333 29.35 14.4 28.95 14.8C28.55 15.2 28.0833 15.4 27.55 15.4C27.25 15.4 27 15.3587 26.8 15.276C26.6 15.1933 26.3833 15.0347 26.15 14.8L17.15 5.90001L3.05 20Z"
              fill="#FFCD29"></path>
          </svg>
        </div>
        <div>
          <h5>Rzetelność i Indywidualne Podejście</h5>
          <p>
            "Każde zlecenie traktuję indywidualnie – od drobnych napraw po duże
            instalacje. Zależy mi na jasnej komunikacji, terminowości i
            oferowaniu rozwiązań, które najlepiej odpowiadają potrzebom klienta.
          </p>
        </div>
      </div>
    </div>
    <div class="aboutCompanyWrapperInside">
      <Image
        src={zespolElektrykow}
        alt="Zdjęcie ekipy elektryków firmy elektrycznej"
      />
    </div>
  </div>
</section>

<style>
  #aboutCompanyWrapper {
    width: 100%;
    max-width: 70rem;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .aboutCompanyWrapperInside {
    width: 100%;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .svgWrapInAbout {
    min-width: 2.5rem;
    min-height: 2.5rem;
  }
  .svgWrapInAbout svg {
    width: 100%;
    height: 100%;
  }

  .flexWrapAboutCompany {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }
  .aboutCompanyWrapperInside img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (max-width: 1023px) {
    #aboutCompanyWrapper {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 768px) {
    .flexWrapAboutCompany {
      flex-wrap: wrap;
    }
  }
</style>
