---
import AdditionalContact from "../section_components/AdditionalContact.astro";
---

<section>
  <div class="header">
    <h2>Znajdź nas również</h2>
    <span>dodatkowe informacje kontaktowe</span>
  </div>
  <div id="findMeWrap">
    <AdditionalContact />
    <div id="iframeWrapper">
      <iframe
        width="650"
        height="650"
        title="find me map"
        loading="lazy"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB2NIWI3Tv9iDPrlnowr_0ZqZWoAQydKJU&q=Opole&maptype=roadmap"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<style>
  #findMeWrap {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 24rem;
  }

  #iframeWrapper {
    width: 100%;
    max-width: 35rem;
    height: 100%;

    overflow: hidden;
    flex: 1;
    & iframe {
      width: 100%;
      height: 100%;

      object-fit: contain;
      border-radius: 15px;
    }
  }
  @media screen and (max-width: 1023px) {
    #findMeWrap {
      flex-wrap: wrap;
      height: auto;
    }
  }
</style>
