---

---

<section>
  <h1>404 ERROR</h1>
  <h2>That page do not exist</h2>
  <span>You should not see this page. Go back.</span>
</section>

<style>
  section {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
