---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="author" content="Patryk Polak pdawidpolak@gmail.com" />
<meta
  name="google-site-verification"
  content="j9iJIQsfAireAJubib_6Oeh7Zj5_dJFs2jF7ZmmwzxI"
/>
<meta name="robots" content="index, follow" />
<meta
  name="description"
  content="Jest to przykładowy domyślny projekt, który został napisany w celu prezentacji przykładowego projektu dla klientów. Twórca Patryk Polak, frontend developer. Mail: pdawidpolak@gmail.com"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://elektryk.patryk-polak.pl" />
<meta
  property="og:title"
  content="Usługi elektryczne 24/7, Szybka Naprawa, Naprawa Awarii, Naprawy elektryczne Lewin Brzeski Opole Wrocław, Wycena eletryczna"
/>
<meta
  property="og:description"
  content="Jest to przykładowy domyślny projekt, który został napisany w celu prezentacji przykładowego projektu dla klientów. Twórca Patryk Polak, frontend developer. Mail: pdawidpolak@gmail.com"
/>
<meta
  property="og:image"
  content="https://elektryk.patryk-polak.pl/public/favicon.svg"
/>

<!-- twitter card wizytówka
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://elektryk.patryk-polak.pl" />
    <meta
      name="twitter:title"
      content="Elektryk Skoczów - Usługi Elektryczne Patryk Polak"
    />
    <meta
      name="twitter:description"
      content="Profesjonalny elektryk w Skoczowie..."
    />
    <meta
      name="twitter:image"
      content="https://elektryk.patryk-polak.pl/images/moje-super-logo-twitter.jpg"
    /> -->

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL} />

<!-- fonty -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

<title>
  Usługi elektryczne 24/7, Szybka Naprawa, Naprawa Awarii, Naprawy elektryczne
  Lewin Brzeski Opole Wrocław, Wycena eletryczna
</title>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Usługi elektryczne Patryk Polak",
    "image": "",
    "@id": "",
    "url": "https://elektryk.patryk-polak.pl/",
    "telephone": "887075912",
    "priceRange": "150zł-250zł",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "ul.Słowackiego 10",
      "addressLocality": "Warszawa",
      "postalCode": "00-231",
      "addressCountry": "PL"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 55,
      "longitude": 23
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Friday", "Thursday", "Wednesday", "Tuesday", "Monday"],
      "opens": "08:00",
      "closes": "16:00"
    },
    "sameAs": "https://elektryk.patryk-polak.pl/"
  }
</script>
<!-- Google tag (gtag.js) -->
<script
  is:inline
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-JXCLN4GFHR"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-JXCLN4GFHR");
</script>
